@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --pantone: #646cff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #08090a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    font-family: 'Fira Sans', sans-serif;
}

.blog-article {
    margin-bottom: 4rem;
}

.blog-article strong {
    color: var(--pantone);
}

.blog-article ol {
    list-style-type: decimal;
}

.blog-article a {
    text-decoration: underline;
}

.blog-article code {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.blog-article img {
    max-width: 100%;
    height: auto;
    margin: auto;
}

.fixed-floating-menu {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.2s ease-in-out;
}

.avatar {
    transform: rotate(358deg);
    background: radial-gradient(141.42% 141.42% at 100% 0%, #fff6, #fff0), radial-gradient(140.35% 140.35% at 100% 94.74%, #bd34fe, #bd34fe00), radial-gradient(89.94% 89.94% at 18.42% 15.79%, #41d1ff, #41d1ff00);
    box-shadow: 0 1px #ffffffbf inset;
    border-radius: 50%;
    height: 180px !important;
    width: 180px !important;
    padding: 1rem;
}

@media only screen and (max-width: 600px) {
    .introduction {
        flex-direction: column;
        gap: 1rem;
    }

    .avatar {
        margin: auto;
    }
}

.fixed-floating-menu:hover {
    transform: translateX(-50%) scaleX(1.05);
}

.fixed-floating-menu img:hover {
    transform: scale(1.2);
}

.fixed-floating-menu a p,
.fixed-floating-menu button p {
    display: none;
    min-width: max-content;
}

.fixed-floating-menu a:hover p,
.fixed-floating-menu button:hover p {
    display: block;
    transform: translateY(-62px);
    position: absolute;
    font-size: 12px;
    background-color: white;
    border: 1px solid var(--);
    box-shadow: 0 -20px 80px -20px #ffffff5c inset;
    padding: 10px;
    border-radius: 10px;
    color: #000000;
}

.hover-links {
    border-bottom: 3px dashed #646cff;
    position: relative;
    background-position-y: 100%;
}

.hover-links:hover {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0nc3F1aWdnbGUtbGluaycgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJyB4bWxuczp4bGluaz0naHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluaycgeG1sbnM6ZXY9J2h0dHA6Ly93d3cudzMub3JnLzIwMDEveG1sLWV2ZW50cycgdmlld0JveD0nMCAwIDIwIDQnPjxzdHlsZSB0eXBlPSd0ZXh0L2Nzcyc+LnNxdWlnZ2xle2FuaW1hdGlvbjpzaGlmdCAuNHMgbGluZWFyIGluZmluaXRlO31Aa2V5ZnJhbWVzIHNoaWZ0IHtmcm9tIHt0cmFuc2Zvcm06dHJhbnNsYXRlWCgwKTt9dG8ge3RyYW5zZm9ybTp0cmFuc2xhdGVYKC0yMHB4KTt9fTwvc3R5bGU+PHBhdGggZmlsbD0nbm9uZScgc3Ryb2tlPScjRjlBNjAwJyBzdHJva2Utd2lkdGg9JzInIGNsYXNzPSdzcXVpZ2dsZScgZD0nTTAsMy41IGMgNSwwLDUsLTMsMTAsLTMgcyA1LDMsMTAsMyBjIDUsMCw1LC0zLDEwLC0zIHMgNSwzLDEwLDMnLz48L3N2Zz4=);
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
    border-bottom: none;
    transition: 0.2s ease-in-out;
}

.blog-li {
    margin-bottom: 2rem;
}

.share-links-list li:hover {
    transform: translateX(10px);
    transition: all 0.2s ease-in-out;
}

.share-links-list li {
    cursor: pointer;
    display: flex;
    transition: transform 0.2s ease-in-out;
}

.share-links-list li button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.scroll_bar {
    background: rgb(179, 179, 179);
    position: fixed;
    width: 100%;
    height: 0.3rem;
    left: 0;
    top: 0;
}

.scroll_indicator {
    background: linear-gradient(to right, #646cff, #646cff, #646cff);
    height: 0.3rem;
}

p>code,
li>code,
dd>code,
td>code {
    background: #ffeff0;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
    color: black
}

pre {
    border: 2px solid var(--pantone);
    padding: 1rem;
    border-radius: 10px;
    background-color: blanchedalmond;
    color: black;
    font-size: 14px !important;
}

.dark pre {
    color: white;
    background-color: darkslategray;
}

.blog-article h3 {
    font-size: 2rem;
    color: var(--pantone);
    margin-bottom: -2rem;
}

.blog-article p {
    font-size: 1rem;
    line-height: 1.75;
}

.article-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.article-block:hover {
    .article-link::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

.button-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: linear-gradient(90deg, #FF8038 0%, #646cff 30.43%, #00EBEB 68.23%, #DB00FF 100%);
    background-size: 600% 600%;
    border-radius: 50px;
    animation: AnimateBorder 4s ease infinite;
    -webkit-animation: AnimateBorder 4s ease infinite;
    -moz-animation: AnimateBorder 4s ease infinite;
    z-index: -1;
    transform: translate(-2px, -2px);
    transition: filter 1s ease-in;
}

@-webkit-keyframes AnimateBorder {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimateBorder {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimateBorder {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}