@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pantone: #FF5A26;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #08090a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  font-family: 'Fira Sans', sans-serif;
}

.blog-article strong {
  color: var(--pantone);
}

.blog-article ol {
  list-style-type: decimal;
}

.blog-article a {
  text-decoration: underline;
}
.blog-article img{
  max-width: 100%;
  height: auto;
  margin: auto;
}
.fixed-floating-menu {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.2s ease-in-out;
}

.avatar {
  transform: rotate(358deg);
  background: #FF5A26;
  border-radius: 50%;
  height: 180px !important;
  width: 180px !important;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  .introduction {
    flex-direction: column;
    gap: 1rem;
  }
  .avatar {
    margin: auto;
  }
}
.fixed-floating-menu:hover {
  transform: translateX(-50%) scaleX(1.05);
}

.fixed-floating-menu img:hover {
  transform: scale(1.2);
}

.fixed-floating-menu a p,
.fixed-floating-menu button p{
  display: none;
  min-width: max-content;
}

.fixed-floating-menu a:hover p,
.fixed-floating-menu button:hover p{
  display: block;
  transform: translateY(-62px);
  position: absolute;
  font-size: 12px;
  background-color: white;
  border: 1px solid #FF5A26;
  box-shadow: 0 -20px 80px -20px #ffffff5c inset;
  padding: 10px;
  border-radius: 10px;
  color: #000000;
}

.hover-links {
  border-bottom: 3px dashed #FF5A26;
  position: relative;
  background-position-y: 100%;
}

.hover-links:hover {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0nc3F1aWdnbGUtbGluaycgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJyB4bWxuczp4bGluaz0naHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluaycgeG1sbnM6ZXY9J2h0dHA6Ly93d3cudzMub3JnLzIwMDEveG1sLWV2ZW50cycgdmlld0JveD0nMCAwIDIwIDQnPjxzdHlsZSB0eXBlPSd0ZXh0L2Nzcyc+LnNxdWlnZ2xle2FuaW1hdGlvbjpzaGlmdCAuNHMgbGluZWFyIGluZmluaXRlO31Aa2V5ZnJhbWVzIHNoaWZ0IHtmcm9tIHt0cmFuc2Zvcm06dHJhbnNsYXRlWCgwKTt9dG8ge3RyYW5zZm9ybTp0cmFuc2xhdGVYKC0yMHB4KTt9fTwvc3R5bGU+PHBhdGggZmlsbD0nbm9uZScgc3Ryb2tlPScjRjlBNjAwJyBzdHJva2Utd2lkdGg9JzInIGNsYXNzPSdzcXVpZ2dsZScgZD0nTTAsMy41IGMgNSwwLDUsLTMsMTAsLTMgcyA1LDMsMTAsMyBjIDUsMCw1LC0zLDEwLC0zIHMgNSwzLDEwLDMnLz48L3N2Zz4=);
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
  border-bottom: none;
  transition: 0.2s ease-in-out;
}

.blog-li {
  margin-bottom: 2rem;
}