@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #08090a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.fixed-floating-menu {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.2s ease-in-out;
}

.fixed-floating-menu:hover {
  transform: translateX(-50%) scale(1.05);
}

.fixed-floating-menu img:hover {
  transform: scale(1.2);
  border-radius: 50%;
}

.fixed-floating-menu a p {display: none}
.fixed-floating-menu a:hover p {
  display: block;
  transform: translateY(-62px);
  position: absolute;
  font-size: 12px;
  box-shadow: 0 -20px 80px -20px #ffffff5c inset;
  padding: 10px;
  border-radius: 10px;
}
